$primaryColor: #000000;
$secondaryColor: #4C5C68;
$tertiaryColor: #FFE68C;
$menuColor: rgba(10, 10, 10, .05);;

$defaultFont: "Rubik", sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$mediumWeight: 500;
$semiBoldWeight: 600;
$boldWeight: 700;

$leading: 150%;

$gutter: 16px;